body {
    background-color: #0f0f23; /* темный фон */
    color: #f1e3b4; /* светло-желтый цвет текста */
    font-family: 'Courier New', Courier, monospace; /* моноширинный шрифт, как у Advent of Code */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-left: 200px; /* увеличиваем отступ слева */
    padding-right: 200px; /* увеличиваем отступ справа */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.7em;
}

h1, h2, h3, h4 {
    font-size: 2em;
    text-align: center;
    color: #00cc00;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4); /* легкое свечение */
}

h1 {
    margin-top: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота контейнера — вся высота окна */
    text-align: center; /* Для центрирования текста */
}

/* Стили для кнопок */
button {
    background-color: #f1e3b4; /* темно-синий фон кнопки */
    color: black;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Немного отступа сверху для кнопки */
}

button:hover {
    background-color: #f9f1d9; /* смена цвета при наведении */
}

/* Анимации для новогоднего эффекта */
@keyframes snow {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh);
    }
}

.snowflakes {
    position: fixed; /* чтобы оставаться на экране при прокрутке */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* чтобы не мешать взаимодействию с другими элементами */
    z-index: 9999; /* чтобы снежинки отображались поверх контента */
}

.snowflakes div {
    position: absolute;
    background: white;
    opacity: 0.8;
    border-radius: 50%;
    animation: snow 10s linear infinite;
}

.snowflakes div:nth-child(1) {
    left: 10%;
    width: 8px;
    height: 8px;
    animation-duration: 12s;
    animation-delay: 0s;
}

.snowflakes div:nth-child(2) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-duration: 15s;
    animation-delay: 3s;
}

.snowflakes div:nth-child(3) {
    left: 40%;
    width: 12px;
    height: 12px;
    animation-duration: 14s;
    animation-delay: 5s;
}

.snowflakes div:nth-child(3) {
    left: 60%;
    width: 12px;
    height: 12px;
    animation-duration: 14s;
    animation-delay: 5s;
}

.snowflakes div:nth-child(3) {
    left: 80%;
    width: 12px;
    height: 12px;
    animation-duration: 14s;
    animation-delay: 5s;
}


.snowflakes div:nth-child(3) {
    left: 100%;
    width: 12px;
    height: 12px;
    animation-duration: 14s;
    animation-delay: 5s;
}