<!DOCTYPE html>
<html>
<head>
    <title>Новый год спасён!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center-text">
        <h1>Новый год спасён!</h1>
        <p>Дорогие коллеги-айтишники,<br>
    Друзья, спасибо вам большое за помощь!<br>
    Я даже представить не мог, что вы так быстро справитесь со всеми задачами, поднимете ОленьДБ на ноги<br>
    и восстановите работу моей системы управления подарками!<br>
    Без вас Новый год мог бы оказаться под угрозой, но благодаря вашему таланту, смекалке и настойчивости,<br>
    каждый ребёнок (и даже взрослый!) получит свой подарок вовремя.<br>
    <br>
    Поздравляю вас с наступающими праздниками! Пусть этот Новый год принесёт вам море радости, ярких событий<br>
    и исполнения самых заветных желаний. Желаю крепкого здоровья, успехов в делах и, конечно же, побольше кода без багов! <br>
    <br>
    А ещё хочу сообщить, что вы, мои спасители, уже внесены в мой список получателей подарков. <br>
    Так что будьте готовы — мой маршрут проложен и совсем скоро я к вам загляну!<br>
    <br>
    С теплом, добротой и новогодним настроением,<br>
    Ваш Дед Мороз\n"
    <br></p>
    </div>
</body>
</html>