<!DOCTYPE html>
<html>
<head>
    <title>Новогодний квест</title>
    <link rel="stylesheet" href="/static/first-page.css">
</head>
<body>
    <div class="container centered">
        <h1>Деду Морозу нужна помощь!</h1>
        <p>Дорогие коллеги-айтишники,<br>
            На днях мы наконец завершили импортозамещение и перевели нашу <b>Santa Gift Management System (SGMS)</b> на отечественную базу данных — <b>ОленьДБ</b>.<br>
            Всё шло как по маслу, пока я не решил внести последние корректировки в список подарков. Уверенно ввёл SQL-запрос, нажал Enter… и вся система упала! Теперь сервер не отвечает, а я застрял с терминалом прямо на своих санях. До Нового года осталось совсем мало времени, и без вашей помощи я просто не успею поднять систему и восстановить базу данных!<br>
            <br>
            Я подключился к вашему офису, чтобы вы помогли мне с этой задачей. Ваша миссия — восстановить сервер, исправить базу подарков и настроить доставку подарков детям по всему миру<br>
            <br>
            Вы поможете мне?<br></p>
    <a href="{{ url_for('task', task_id=1) }}">
        <button>Узнать, что случилось у Деда</button>
    </a>
    </div>
    <div class="snowflakes"></div>
    <script>
        // Количество снежинок
        const numberOfSnowflakes = 15;
        const snowflakesContainer = document.querySelector('.snowflakes');

        for (let i = 0; i < numberOfSnowflakes; i++) {
            const snowflake = document.createElement('div');
            // Случайное положение снежинки по горизонтали
            snowflake.style.left = `${Math.random() * 100}%`;
            // Случайный размер снежинки
            const size = Math.random() * 10 + 5; // от 5px до 15px
            snowflake.style.width = `${size}px`;
            snowflake.style.height = `${size}px`;
            // Случайная продолжительность анимации
            snowflake.style.animationDuration = `${Math.random() * 10 + 5}s`;
            // Случайная задержка анимации
            snowflake.style.animationDelay = `${Math.random() * 5}s`;
            // Добавление снежинки в контейнер
            snowflakesContainer.appendChild(snowflake);
        }
    </script>
</body>
</html>