<!DOCTYPE html>
<html>
<head>
    <title>Новогодний квест</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="center-text">
        <h1>Добро пожаловать в новогодний квест!</h1>
        <p>Дорогие коллеги-айтишники,<br>
    На днях мы наконец завершили импортозамещение и перевели нашу Santa Gift Management System (SGMS) на отечественную базу данных — ОленьДБ.<br>
    Всё шло как по маслу, пока я не решил внести последние корректировки в список подарков. Уверенно ввёл SQL-запрос,<br>
    нажал Enter… и вся система упала!<br>
    Теперь сервер не отвечает, а я застрял с терминалом прямо на своих санях. До Нового года осталось совсем мало времени,<br>
    и без вашей помощи я просто не успею поднять систему и восстановить базу данных!<br>
    Я подключился к вашему офису, чтобы вы помогли мне с этой задачей. Ваша миссия — восстановить сервер,<br>
    исправить базу подарков и настроить доставку подарков детям по всему миру<br>
    Вы поможете мне?<br></p>
    <button type="submit">Узнать, что случилось у Деда</button>
    <ul>
        {% for task_id, task in tasks.items() %}
            <li><a href="{{ url_for('task', task_id=task_id) }}">{{ task['title'] }}</a></li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>