<!DOCTYPE html>
<html>
<style>
    table {
        border-collapse: collapse;
        width: 50%;
    }
    th, td {
        border: 1px solid #f1e3b4;
        padding: 8px;
        text-align: center;
    }
</style>
<head>
    <title>{{ task['title'] }}</title>
    <link rel="stylesheet" href="/static/task-page.css">
</head>
<body>
    <div class="center-text">
    <h1>{{ task['title'] }}</h1>
    <p>{{ description | replace('\n', '<br>') | safe }}</p> <!-- Здесь выводится описание задания -->
    {% if task_table %}
        {{ task_table | safe }}
    {% endif %}
    </div>
    <form method="POST" action="#error-message">
        <p>Введите ваш ответ:</p>
        <input type="text" name="answer" required>
        <button type="submit">Отправить</button>
    </form>
    {% if error %}
        <p id="error-message" style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>